<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1><%= title %></h1>
      <p>Champ_Natthaphong <%= title %></p>
      <a href="/blog">อ่านบทความ</a>

    </div>
  </body>
</html>
